* {
  box-sizing: border-box;
}
body.waiting {
  cursor: wait !important;
}
#shell {
  padding-bottom: 0;
}
#shell > footer,
#shell > header {
  display: none;
}

i {
  cursor: pointer;
}
a i {
  color: #000000;
}
a:hover i {
  color: #000000;
}

#page-mission-online {
  position: relative;
  width: 100%;
}
  #page-mission-online-login {
    background: #ffffff;
    border: 5px solid #ff9307;
    border-radius: 10px;
    left: 350px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 250px;
    width: 350px;
  }

  #page-mission-online-content {
    position: relative;
  }
    #page-mission-online-map,
    #page-mission-online-zones,
    #page-mission-online-tokens {
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
    #page-mission-online-survivor-reserve {
      background: #ffffff;
      border: 5px solid #ff9307;
      border-radius: 10px;
      padding: 10px;
      position: absolute;
      text-align: center;
      top: -250px;
      width: 400px;
    }
    #page-mission-online-survivor-reserve button {
      position: absolute;
      background: #000000;
      width: 25px;
      height: 25px;
      right: -10px;
      top: -10px;
      border: 2px solid #ff9307;
      border-radius: 20px;
      opacity: 1;
      padding: 0;
    }
    #page-mission-online-survivor-reserve button.close span {
      color: #fff;
      text-shadow: none;
      font-size: 20px;
      padding-top: -5px;
      top: -5px;
      position: relative;
    }
    #page-mission-online-survivor-reserve .chip.survivor {
      display: inline-block;
      position: initial;
      width: 50px;
    }
    #page-mission-online-map {
      opacity:0.25;
    }
    .chip {
      background-size: cover !important;
      position: absolute;
    }
    .chip.token[data-type="Door"],
    .chip.token[data-type="Exit"],
    .chip.token[data-type="Objective"],
    .chip.token[data-type="Spawn"],
    #page-mission-online-survivor-reserve .chip.survivor {
      cursor: pointer;
    }
    .chip.token[data-type="Noise"] {
      cursor: grab;
    }
    .chip.survivor,
    .chip.zombie {
      border-radius: 35px;
      cursor: grab;
      max-width: 50px;
    }
    .chip.noise div,
    .chip.zombie div {
      background-color: white;
      bottom: 10px;
      margin-left: 25%;
      min-width: 50%;
      position: relative;
    }
    .chip.noise div {
      bottom: -15px;
    }
    .chip.zombie.Standard {
      border: 3px solid #868e96;
    }
    .chip.survivor.Blue {
      border: 3px solid #007bff;
    }
    .chip.survivor.Yellow {
      border: 3px solid #ffe207;
    }
    .chip.survivor.Orange {
      border: 3px solid #ff9307;
    }
    .chip.survivor.Red {
      border: 3px solid #dc3545;
    }
    .chip.zombie img,
    .chip.survivor img {
      border-radius: 35px;
      width: 100%;
    }
    .chip.unactive {
      filter: grayscale(50%);
    }
    .map2x3 .mapTile {
      background-size: cover !important;
      height: 50%;
      position: absolute;
      width: 33.33333%;
    }
    .map2x3 .mapTile:nth-child(n+4) {
      top: 50%;
    }
    .map2x3 .mapTile:nth-child(3n+2) {
      left: 33.33333%;
    }
    .map2x3 .mapTile:nth-child(3n+3) {
      left: 66.66666%;
    }
    .mapTile.east,
    .chip.east {
      transform: rotate(90deg);
    }
    .mapTile.south,
    .chip.south {
      transform: rotate(180deg);
    }
    .mapTile.west,
    .chip.west {
      transform: rotate(-90deg);
    }
  #page-mission-online-sidebar {
    background: #ff9307;
    border-left: 5px solid #ff9307;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
  }
  #page-mission-online-sidebar h1 {
    background-color: #ff9307;
    border-bottom: 2px solid #ff9307;
    font-size: 16px;
    margin-bottom: 0;
    padding: 5px;
  }
  #dataToPaste {
    background: transparent;
    border: 0;
    font-weight: bold;
    outline: none;
  }
  #page-mission-online-sidebar h1 .fa-clipboard {
    margin-right: 5px;
  }
  #page-mission-online-sidebar-survivors {
    border-bottom: 2px solid #ff9307;
  }
  #page-mission-online-sidebar-survivors img {
    cursor: pointer;
    width: 30%;
  }
  #page-mission-online-help {
    bottom: 0;
    position:absolute;
    width: 100%;
  }
  #page-mission-online-sidebar-survivors-detail {
    background: #ff9307;
    height: 100%;
    position: absolute;
    top: -105%;
    width: 100%;
  }
  #page-mission-online-help a {
    background-color: #ff9307;
    border-radius: 0;
    border-right: 1px solid #303030;
    border-top: 1px solid #303030;
    padding: 5px;
    cursor: pointer;
  }
  #page-mission-online-help a.active {
    background-color: #303030;
    cursor: default;
  }
  #page-mission-online-help a.active i {
    color: #ff9307;
    cursor: default;
  }

#page-mission-online-obj-rules,
#page-mission-online-help-website,
#page-mission-online-setup,
#page-mission-online-sidebar-survivors-detail {
  background: #ff9307;
  height: 100%;
  overflow: auto;
  padding: 10px;
  position: absolute;
  top: -105%;
  width: 100%;
}

#page-mission-online-sidebar-survivors-detail .panel-body {
  padding: 10px;
}

#page-mission-online-setup .panel-body > div,
#page-mission-online-sidebar-survivors-detail .panel-body > div {
  background: #303030;
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
  vertical-align: top;
}

#page-mission-online-sidebar-survivors-detail .portrait {
  text-align:center;
}

#page-mission-online-sidebar-survivors-detail .points ul {
  color: #ff9307;
}

#page-mission-online-sidebar-survivors-detail li {
  cursor: pointer;
}
#page-mission-online-sidebar-survivors-detail li.disabled {
  filter: grayscale(1);
}

#page-mission-online-sidebar-survivors-detail .inventaire  {
  margin-top: 5px;
}

#page-mission-online-sidebar-survivors-detail .card-slot {
  display: inline-block;
  border: 2px solid #eeeeee;
  border-radius: 10px;
  color: #eeeeee;
  height: 100%;
  margin: 0 5px;
  text-align: center;
  width: 15%;
}
#page-mission-online-sidebar-survivors-detail .card-slot.trade {
  border: 2px dashed #eeeeee;
}
#page-mission-online-sidebar-survivors-detail .card-slot i {
  margin-top: 50%;
}

#page-mission-online-setup .chip {
  position: initial;
  width: 50px;
  height: 50px;
  margin-bottom: 25px;
}
#page-mission-online-setup .chip div {
  width: 100%;
  margin-left:0;
}

#page-mission-online-setup li {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

/*
img { max-width: 100%; }
#page-online { margin: 0; }
  #online-btn-actions { background: rgba(68,66,69,0.97); border-bottom: 3px solid rgb(250, 168, 0); border-top: 1px solid rgb(250, 168, 0); min-height: 40px; padding: 2px; width: 100%; }
  #online-btn-actions .btn { background: rgb(0, 0, 0); border: 2px solid rgb(250, 168, 0); color: rgb(250, 168, 0); font-size: 24px; line-height: 28px; padding: 2px; width: 36px; }
  #online-board { height: calc(100% - 44px); position: relative; }
    #online-sidebar-options { border-right: 3px solid rgb(250, 168, 0); left: 0; position: absolute; top: 0; width: 250px; }
    #online-sidebar-options article { background: rgba(68,66,69,0.97); border-bottom: 3px solid rgb(250, 168, 0); margin: 0; }
    #online-sidebar-options .portrait { display: inline-block; float: left; margin-right: 10px; width: 50px; }
    #online-sidebar-options .stats { color: rgb(250, 168, 0); display: inline-block; height: 50px; width: 185px; }
      .stats .hp { color: rgb(255, 0, 0); display: inline-block; float: left; margin-right: 10px; }
      .stats .xp { display: inline-block; height: 22px; padding: 2px; width: 140px; }
    #online-sidebar-options .xp .blue { border: 2px solid #007bff; height: inherit; position: relative; }
  #online-canvas { height: 100%; margin: 0; position: relative; z-index: 1001; }
    .popup-like { background: rgba(68,66,69,0.97); border: 3px solid rgb(250, 168, 0); border-radius: 10px; left: 50%; padding: 10px; position: absolute; top: 50%; z-index: 1002; }
    .online-identification { color: rgb(255, 255, 255); height: 66px; line-height: 2.25; margin: -33px 0 0 -200px; text-align: center; width: 400px; }
    button#genKey i { color: rgb(250, 168, 0); padding-top: 4px; padding-right: 0px; }
    input#keyAccess { border: 0 none; height: 42px; }
    button#startGame { height: 42px; }
  #online-canvas.game { margin: 0 0 0 250px; }
*/

#page-mission-online-sidebar-chat {
  background: #F2F5F8;
  border-radius: 10px;
  color: #434651;
  height: 600px;
  margin-top: 10px;
  position: relative;
  width: calc(100% - 10px);
}

.online-chat-saisie {
  display: none;
}

.chat .chat-history {
    height: 100%;
    overflow-y: scroll;
  padding: 10px;
}

.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}

.chat .chat-history li{
  font-size: 12px;
  line-height: 16px;
}

.chat .chat-history .message-data {
    margin-bottom: 10px;
}

.chat .chat-history .message-data-time {
    color: #a8aab1;
    padding-left: 6px;
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
}

.me {
    color: #94C2ED;
}

.float-right {
    float: right;
}

.chat .chat-history .message {
    color: white;
    padding: 10px;
    line-height: 20px;
    font-size: 14px;
    border-radius: 7px;
    margin-bottom: 10px;
    width: 80%;
    position: relative;
}

.chat .chat-history .other-message {
    background: #94C2ED;
}

.chat .chat-history .message:after {
    bottom: 100%;
    left: 8%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #86BB71;
    border-width: 7px;
    margin-left: -10px;
}

.chat .chat-history .other-message:after {
    border-bottom-color: #94C2ED;
    left: 92%;
}

.chat .chat-history .tech-message:after {
    border-bottom-color: transparent;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.online {
    color: #86BB71;
}

.chat .chat-history .my-message {
    background: #86BB71;
}

.chat .chat-history .tech-message {
    background: #E38968;
  margin-left: auto;
    margin-right: auto;
}

.chat .chat-history .message-data.changeDate {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: #afd3d9;
        width: 90px;
    padding: 5px;
    font-size: 12px;
}

.chat .chat-history .changeDate:after {
    border-bottom-color: transparent;
}





/*
#online-sidebar-chat { background: rgba(68,66,69,0.97); border-left: 3px solid rgb(250, 168, 0); bottom: 0; left: 0; position: absolute; top: inherit; width: 247px; z-index: 1002; }
#online-sidebar-chat { border-left: 3px solid rgb(250, 168, 0); height: 100%; position: absolute; right: 0; top: 0; transition: width 300ms linear 0s; width:250px;  z-index: 1002;}
.closed-chat #online-sidebar-chat { width: 0; }

#online-chat-content { overflow-y: auto; }
.closed-chat #online-chat-content li { opacity: 0; }

.online-chat-saisie > header { background: rgb(250, 168, 0); border-top: 1px solid rgb(250, 168, 0); height: 35px; }
.online-chat-saisie .nav { margin-top: 2px; }
.online-chat-saisie .nav-link { border-radius: 5px 5px 0 0; padding: 4px 8px; }
.online-chat-saisie .nav-link.active { background-color: #343a40; }
.online-chat-saisie a { color:#343a40; }
.online-chat-saisie > content {  }
.online-chat-saisie textarea { border-radius: 0; font-size: 14px; height: 100%; padding: 4px 8px; }
.online-chat-saisie > footer { background: rgb(250, 168, 0); border-top: 1px solid rgb(250, 168, 0); padding: 0; margin: 0; height: 35px; }

.online-chat-fold, .online-chat-unfold { border: 3px solid rgb(250, 168, 0); border-right: 0; border-radius: 10px 0 0 10px; color: rgb(250, 168, 0); cursor: pointer; font-size: 35px; height: 44px; left: -44px; margin-top: -22px; position: absolute; text-align: center; top: 50%; width: 44px; z-index: 1003; }
.online-chat-fold { opacity: 1; }
.online-chat-unfold { opacity: 0; }
.closed-chat .online-chat-fold { opacity: 0; }
.closed-chat .online-chat-unfold { opacity: 1; }

#online-chat-submit { margin-top: 2px; }
*/

.menu {
  position: absolute;
  width: 200px;
  padding: 2px;
  margin: 0;
  border: 1px solid #ff9307;
  background: #303030;
  z-index: 100;
  border-radius: 3px;
  box-shadow: 1px 1px 4px rgba(0,0,0,.2);
  opacity: 0;
  -webkit-transform: translate(0, 15px) scale(.95);
  transform: translate(0, 15px) scale(.95);
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
  pointer-events: none;
}

.menu-item {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.menu-btn {
  background: #303030;
  line-height: normal;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: block;
  width: 100%;
  color: #ff9307;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  text-align: left;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 8px;
  border-radius: 3px;
}
 .menu-btn::-moz-focus-inner {
 border: 0;
 padding: 0;
}

.menu-text { margin-left: 25px; }

.menu-btn .fa {
  position: absolute;
  left: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.menu-item:hover > .menu-btn {
  color: #fff;
  outline: none;
  background: -webkit-linear-gradient(top, #2E3940, #5D6D79);
  background: linear-gradient(to top, #2E3940, #5D6D79);
  background-color: #2E3940;
  border: 1px solid #2E3940;
}

.menu-item.disabled {
  opacity: .5;
  pointer-events: none;
}

.menu-item.disabled .menu-btn { cursor: default; }

.menu-separator {
  display: block;
  margin: 7px 5px;
  height: 1px;
  border-bottom: 1px solid #ff9307;
  background-color: #aaa;
}

.menu-item.submenu::after {
  content: "";
  position: absolute;
  right: 6px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 5px solid transparent;
  border-left-color: #ff9307;
}

.menu-item.submenu:hover::after { border-left-color: #fff; }

.menu .menu {
  top: 4px;
  left: 99%;
}

.show-always, .show-menu, .menu-item:hover > .menu {
  opacity: 1;
  -webkit-transform: translate(0, 0) scale(1);
  transform: translate(0, 0) scale(1);
  pointer-events: auto;
}

.menu-item:hover > .menu {
  -webkit-transition-delay: 100ms;
  transition-delay: 300ms;
}

#modalSpawn .modal-content {
  background: #303030;
  border: 2px solid #ff9307;
  width: 300px;
}
#modalSpawn .modal-header {
  border-bottom: 0 none;
  height: 0;
  padding: 0;
}
#modalSpawn button {
  margin-right: 16px;
  margin-top: 16px;
  z-index: 4000;
}
#modalSpawn .modal-content i {
  color: #ff9307;
}
